<% include ../partials/header %>

<div class="row justify-content-center">
  <div class="col-10">
    <h1>Contact opnemen met <%=product.author.username %></h1>
    <form action="/advertenties/<%=product._id%>/messages" method="POST">
      <div class="form-group">
        <textarea class="form-control" name="message[content]" cols="30" rows="10">Beste <%= product.author.username %>,
          
Ik heb een vraag over '<%= product.title %>'



Met vriendelijke groet,
      
<%= currentUser.username %>
      </textarea>
      </div>
      <button type="submit" class="btn btn-success">Bericht versturen</button>
    </form>
  </div>
</div>
</div>



<% include ../partials/footer %>