<% include ../partials/header %>

<div class="text-center">
  <h1>Reageren op <%=message.author.username %></h1>
</div>
<div class="row">
  <div class="col-6 text-center">
    <h3>Bericht van: <%=message.author.username %></h3>
    <div class="form-group">
      <textarea name="" id="" cols="30" rows="10">

      <%= message.content %>
      
      </textarea>
    </div>
  </div>
  <div class="col-6 text-center">
    <h3>Uw bericht</h3>
    <form action="/advertenties/<%=product_id%>/messages/<%=message._id%>" method="POST">
      <textarea name="message[content]" id="" cols="30" rows="10">
  Beste <%= message.author.username %>,
  
  
  
  
  met vriendelijke groet,
  
  <%= currentUser.username %>
  </textarea>
      <input class="btn btn-primary" type="submit" value="Reageer">
    </form>
  </div>
</div>
<% include ../partials/footer %>