<% include ../partials/header %>
<div class="row mt-5 text-center">
  <div class="container-fluid col-4 border">
    <h6>Naam: <%= currentUser.username %></h6>
    <h6>Lid sinds: <%=moment(currentUser.createdAt).format("DD MMM YYYY")%></h6>
    <h6>Email: <%= currentUser.email %></h6>
    <h4><a class="btn btn-primary" href="/account/berichten">Mijn conversaties</a></h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <% if (products.length > 0 ) { %>
    <h2>Mijn advertenties</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Advertentie</th>
          <th scope="col">Aantal gesprekken</th>
          <th scope="col" class="text-right">Advertentie-opties</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(function(product) { %>
        <tr>
          <td>
            <% if (product.images.length > 0 ) { %>
              <img class="cover thumbnail" src="/uploads/products/<%=product.images[0]%>" width="100">
            <% } else { %>
          <img src="/images/product_placeholder.png" width="100">
          <% } %></td>
          <td><a href="/advertenties/<%=product._id%>"><%=product.title%></a></td>
          <td>
            <% if (product.threads.length > 0 ) { %>
              <%=product.threads.length %>
            <% } else { %>
              geen
              <% } %>
          </td>
          <td class="text-right">
            <% if (product.premium == false ) { %>
              <a href="/advertenties/<%=product._id%>/stripe" class="btn btn-success"><i class="fa fa-star" aria-hidden="true"></i> Zichtbaarheid
          verhogen</a>
            <% } else { %>
              Premium-advertentie
              <% } %>
              <a class="btn btn-info d-inline p-2" href="/advertenties/<%=product.id%>/edit"><i class="fa fa-pencil" aria-hidden="true"></i> Bewerken</a>
              <form action="/advertenties/<%=product.id%>?_method=DELETE" class="d-inline" method="POST"
          onclick="return confirm('Weet je zeker dat je <%=product.title%> wil verwijderen?')">
          <button class="btn btn-danger d-inline"><i class="fa fa-times" aria-hidden="true"></i> Verwijderen</button>
        </form>
            </td>
        </tr>
          
            
    
          <% }) %>
      </tbody>
    </table>
  </div>
</div>
<% } %>

<% include ../partials/footer %>