<% include ../partials/header %>
<h1 class="text-dark">Alle <%=category.toLowerCase()%></h1>
<div class="row">
  <% products.forEach(function(product){ %>
  <div class="card-deck col-sm-6 col-lg-4">
    <div class="card shadow m-2 d-flex justify-content-center">
      <div class="card-body">
        <div class="card-title text-center">
          <h5 class="text-dark">
            <a href="/advertenties/<%=product._id%>">
              <%=product.title%>
            </a>
          </h5>
        </div>
        <div class="parent d-flex align-items-center justify-content-center">
          <% if(product.images.length > 0 ) { %>
          <img src="/uploads/products/<%=product.images[0]%>" />
          <% } else { %>
          <img src="/images/product_placeholder.png" />
          <% } %>
        </div>
        <div class="card-text text-truncate">
          <%=product.body.substring(0, 50)%>
        </div>
      </div>
    </div>
  </div>
  <% }); %>
</div>

<% include ../partials/footer %>
