<% include ../partials/header %>
<h1 class="text-dark">Alle advertenties</h1>
<div class="row">
  <% if (products.length > 0 ) { %>
  <% products.forEach(function(product) { %>
  <div class="card-deck col-sm-6 col-lg-4">
    <div class="card shadow m-2 d-flex justify-content-center">
      <div class="card-body">
        <div class="card-title text-center">
          <h5 class="text-dark">
            <a href="/advertenties/<%=product._id%>"><%=product.title%></a>
          </h5>
        </div>
        <div class="parent d-flex align-items-center justify-content-center">
          <% if(product.images.length > 0 ) { %>
          <img src="/uploads/products/<%=product.images[0]%>">
          <% } else { %>
          <img src="/images/product_placeholder.png">
          <% } %>
        </div>

        <div class="card-text text-truncate">
          <%=product.body.substring(0, 50)%>
        </div>
        <hr>
        <a class="badge badge-warning text-dark p-2" href="/categorieen/<%=product.category%>"><i class="fa fa-tag"
            aria-hidden="true"></i> <%=product.category%></a>
        <% if(product.municipality) { %>
        <span class="badge badge-info text-dark p-2"><i class="fa fa-map-marker text-white" aria-hidden="true"></i>
          <%=product.municipality%></span>
        <% } %>
      </div>
    </div>
  </div>
  <% }); %>
  <% } else { %>
    <p class="text-muted">
      De zoekopdracht leverde geen resultaten op.
    </p>
    <% } %>
</div>
<% include ../partials/footer %>