<% include ../partials/header %>

<!--Begin carousel  -->
<div class="row">
  <div class="col-lg-8">
    <% if (product.images.length > 0 ) { %>
    <div id="carousel">
      <div class="carousel slide overflow-hidden" data-ride="carousel">
        <div class="carousel-inner">
          <% product.images.forEach(function(image) { %>
          <div class="carousel-item">
            <img class="d-block w-100" src="/uploads/products/<%=image%>">
          </div>
          <% }); %>
        </div>
      </div>
    </div>
    <% } else { %>
    <img src="/images/product_placeholder.png" width="310" height="200">
    <% } %>   
    <h1 class="card-title"><%=product.title%></h3>
      <h4>Prijs &euro;<%=product.price%></h4>
  </div>

  <!--Einde carousel  -->

  <% if (product.images.length > 0 ) { %>
  <div id="thumbnails" class="col-4 justify-content-center">
    <div class="row d-flex justify-content-center">
      <% product.images.forEach(function(image) { %>
      <div class="col-6 card-deck">
        <div class="card rounded d-flex align-items-center justify-content-center p-2 m-1">
          <img class="cover thumbnail" src="/uploads/products/<%=image%>" width="100">
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <% } %>
</div>

<!--  -->

<div class="row">
  <div class="col-lg-8">
    <div class="text-justify">
      <%=product.body%>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card rounded shadow card-deck mb-2">
      <div class="card-body">
        <div class="card-title">
          <h5>Advertentiebeheer</h5>
        </div>
        <form action="/advertenties/<%=product.id%>?_method=DELETE" class="form-inline" method="POST"
          onclick="return confirm('Weet je zeker dat je <%=product.title%> wil verwijderen?')">
          <button class="btn btn-danger">Advertentie verwijderen</button>
        </form>
      </div>
    </div>
    <div class="card rounded shadow card-deck mb-2">
      <div class="card-body">
        <div class="card-title">
          <h2>Biedt u mee?</h2>
        </div>
        <form action="/advertenties/<%=product._id%>/bids" method="POST">
          <input class="form-control" type="number" name="bid[amount]" id="bid" min="0" required>
          <span class="text-muted">Bieden vanaf &euro;<%=product.minprice%></span>
          <input class="btn btn-warning btn-block mt-2" type="submit" name="" value="Bied">
        </form>
      </div>
    </div>
    <div class="card rounded shadow card-deck">
      <div class="card-body">
        <div class="card-title">
          <h3>Biedingsverloop</h3>
        </div>
        <% if (product.bids.length > 0) { %>
        <ul class="list-group list-group-flush">
          <% product.bids.forEach(function(bid){ %>
          <li class="list-group-item">
            <date><%=moment(bid.createdAt).format("DD MMM 'YY")%></date> - <strong>&euro;<%=bid.amount%></strong>
          </li>
          <% }) %>
        </ul>
        <% } else { %>
        <p class="text-muted">Er zijn nog geen biedingen geplaatst.</p>
        <% } %>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>