<% include ../partials/header %>

<!--Begin carousel  -->
<div class="row">
  <div class="col-lg-8">
    <% if (product.images.length > 0 ) { %>
    <div id="carousel">
      <div class="carousel slide overflow-hidden" data-ride="carousel">
        <div class="carousel-inner">
          <% product.images.forEach(function(image) { %>
          <div class="carousel-item">
            <img class="d-block w-100" src="/uploads/products/<%=image%>">
          </div>
          <% }); %>
        </div>
      </div>
    </div>
    <% } else { %>
    <img src="/images/product_placeholder.png" width="310" height="200">
    <% } %>
    <h1 class="card-title"><%=product.title%></h3>
      <h4>Prijs &euro;<%=product.price%></h4>
      <h5>Verkoper: <%=product.author.username%></h5>
  </div>

  <!--Einde carousel  -->

  <% if (product.images.length > 0 ) { %>
  <div id="thumbnails" class="col justify-content-center">
    <div class="row d-flex justify-content-center">
      <% product.images.forEach(function(image) { %>
      <div class="col-6 card-deck">
        <div class="card rounded d-flex align-items-center justify-content-center p-2 m-1">
          <img class="cover thumbnail" src="/uploads/products/<%=image%>" width="100">
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <% } %>
</div>

<!-- Begin body product -->

<div class="row">
  <div class="col-lg-8">
    <div class="text-justify">
      <%=product.body%>
    </div>
  </div>

  <!-- einde body product -->



  <div class="col-lg-4">


    <!-- location -->

    <div class="card rounded shadow card-deck mb-2">
      <div class="card-body">
        <div class="card-title">
          <h2>Advertentie-informatie</h2>
        </div>
        <% if (product.location.coordinates.length > 0 ) { %>
        <div id="locationMap"></div>
        <% } else { %>
        <div class="card-text">
          Geen locatie beschikbaar.
        </div>
        <% } %>
      </div>
    </div>

    <!-- Begin bied sectie-->
    <% if(currentUser.id != product.author._id){ %>
    <div class="card rounded shadow card-deck mb-2">
      <div class="card-body">
        <div class="card-title">
          <h4>Biedt u mee?</h4>
        </div>
        <% if (product.bids.length > 0) { %>
        <ul class="list-group list-group-flush">
          <% product.bids.forEach(function(bid){ %>
          <li class="list-group-item d-flex justify-content-between">
            <strong><%=bid.author.username%></strong> <strong>&euro;<%=bid.amount%></strong>
            <date><%=moment(bid.createdAt).format("DD MMM 'YY")%></date>
          </li>
          <% }) %>
        </ul>
        <% } else { %>
        <p class="text-muted">Er zijn nog geen biedingen geplaatst.</p>
        <% } %>
        <form action="/advertenties/<%=product._id%>/bids" method="POST">
          <input class="form-control" type="number" name="bid[amount]" id="bid" min="0" required>
          <span class="text-muted">Bieden vanaf &euro;<%=product.minprice%></span>
          <button class="btn btn-warning btn-block mt-2" type="submit"><i class="fa fa-gavel text-white" aria-hidden="true"></i> Bieden</button>
        </form>
        <a class="btn btn-primary btn-block mt-2" href="/advertenties/<%=product._id%>/messages/new"><i class="fa fa-comments" aria-hidden="true"></i> Contact opnemen met <%=product.author.username %></a>
      </div>
    </div>
    <% } %>
    <!-- Einde bied sectie-->

    <!-- begin productbeheer -->

    <% if(currentUser.id == product.author._id){ %>
    <div class="card rounded shadow card-deck mb-2">
      <div class="card-body">
        <div class="card-title">
          <h5>Advertentiebeheer</h5>
        </div>
        <a class="btn btn-info d-inline p-2" href="/advertenties/<%=product.id%>/edit"><i class="fa fa-pencil" aria-hidden="true"></i> Bewerken</a>
        <form action="/advertenties/<%=product.id%>?_method=DELETE" class="d-inline" method="POST"
          onclick="return confirm('Weet u zeker dat u \'<%=product.title%>\' wil verwijderen?')">
          <button class="btn btn-danger d-inline"><i class="fa fa-times" aria-hidden="true"></i> Verwijderen</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>
<div class="row">
  <% if(product.threads.length > 0 && currentUser.id == product.author._id){ %>
  <h2>Er zijn berichten</h2>
  <a class="btn btn-primary" href="/advertenties/<%=product.id%>/messages/tonen">Naar berichten</a>
  <% } %>
</div>
<!-- einde productbeheer -->
<% if (product.location.coordinates.length > 0 ) { %>
<script>
  let defaultCenter = [<%=product.location.coordinates %>];
  let defaultZoomLevel = 19; // Max zoom because now it's already a specific location
  let locationMap = L.map("locationMap").setView(defaultCenter, defaultZoomLevel);

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',
    {
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1IjoibXNnYmlnaG91c2UiLCJhIjoiY2sxaHdrY214MDZkbDNoanpwNW9rcjRsOSJ9.YXMtqR_k0YWeKNnAZHmhdg'
    })
    .addTo(locationMap);
  L.marker([<%=product.location.coordinates %>]).addTo(locationMap);
</script>
<% } %>
<% include ../partials/footer %>